<div class="content">

    <!-- Highlight Card -->
    <div class="cards" data-tilt>
        <div class="wrapper">
            <img src=".../../../../assets/images/coverImganimal.jpg" alt="" class="coverImage">
        </div>

        <div class="option textLogo">{{item1["name"] | uppercase}}</div>
       <img src="../../assets/images/animal.png" alt="" class="character">
       
        <!-- <div class="glass">
             <div class="option">{{item1["name"] | uppercase}}</div>
           
            <div class="counter"> 10,00,000</div> 
        </div>  -->

    </div>

    <div class="cards" data-tilt>
        <div class="wrapper">
            <img src=".../../../../assets/images/coverImganimal.jpg" alt="" class="coverImage">
        </div>

        <div class="option textLogo">{{item2["name"] | uppercase}}</div>
       <!-- <img src="../../assets/images/animal.png" alt="" class="character"> -->
       
        <!-- <div class="glass">
             <div class="option">{{item1["name"] | uppercase}}</div>
           
            <div class="counter"> 10,00,000</div> 
        </div>  -->

    </div>
    <!-- <div class="card card2">
        <div class="row">

            <div class="option">{{item2["name"] | uppercase}}</div>
            <div class="button ">
                <button class="high">High <i class="fa-solid fa-bolt"></i></button>
                <button class="low">Low </button>
            </div>
        </div>

    </div> -->

</div>