
<div class="content" >

    <!-- Highlight Card -->
    <div class="card card1" [style.background-image]="'url(' + item1Url + ')'">
        <div class="row">
            <div class="option">{{item1["name"] | uppercase}}</div>
           
            <div class="counter"> 10,00,000</div>
        </div>

    </div>
    <div class="card card2" [style.background-image]="'url(' + item2Url + ')'">
        <div class="row">
            <div class="option">{{item2["name"] | uppercase}}</div>
            <div class="button ">
                <button class="high">High <i class="fa-solid fa-bolt"></i></button>
                <button class="low">Low </button>
            </div>
        </div>

    </div>
</div>