<div class="content">
    <!-- <img src="../../assets/images/versus.png" alt="" class="vsImg"> -->
    <div  class="vsImg">v/s</div>
   
        <!-- Highlight Card -->
        <div class="cards" data-tilt>
            <div class="wrapper">
                <img src=".../../../../assets/images/coverImganimal.jpg" alt="" class="coverImage">
            </div>

            <div class="option textLogo">{{item1["name"] | uppercase}}</div>
            <!-- <img src="../../assets/images/animal.png" alt="" class="character"> -->

            <!-- <div class="glass">
         <div class="option">{{item1["name"] | uppercase}}</div>
       
        <div class="counter"> 10,00,000</div> 
    </div>  -->

        </div>

        <div class="cards" data-tilt>
            <div class="wrapper">
                <img src=".../../../../assets/images/coverImganimal.jpg" alt="" class="coverImage">
            </div>

            <div class="option textLogo">{{item2["name"] | uppercase}}</div>
            <!-- <img src="../../assets/images/animal.png" alt="" class="character"> -->

            <!-- <div class="glass">
         <div class="option">{{item1["name"] | uppercase}}</div>
       
        <div class="counter"> 10,00,000</div> 
    </div>  -->

        </div>
 


</div>


<!-- <div class="top">Sliced</div>
<div class="bottom" aria-hidden="true">Sliced</div> -->